src/power-automate/ReservationRequest/v0.3.0/.unpacked/Microsoft.Flow/flows/3dfbb6f4-8a87-4320-a792-d5e4b7846f7d/definition.json
{"name":"dc7aa887-ff3d-4bb9-9c94-f79d7651e929","id":"/providers/Microsoft.Flow/flows/dc7aa887-ff3d-4bb9-9c94-f79d7651e929","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"578TeleHealthSched_ReservationRequest","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ec4f9b5d-fe24-466f-a4af-0d030edc3f90","type":"User","tenantId":"e95f1b23-abaf-45ee-821d-b7ab251ab3bf"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-10-04T03:20:03.4362821Z","connectionKeySavedTimeKey":"2025-10-04T03:20:03.4362821Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"54b76522-c330-4459-b3c4-a1e6047ee377"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"GetItem(App_ReservationLog)":{"runAfter":{},"metadata":{"operationMetadataId":"8e3713b6-c6c7-4bfa-9047-d75307060c6a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"If(Modified_Type_=_\"Reservation_Submitted\")":{"actions":{"If(Mondays)":{"actions":{"CreateApproval(forTCT)_Mondays":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED","DENIED","[DO NOT USE YET] CHANGED"],"ApprovalCreationInput/title":"TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']} [test]","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Miguel.Mata@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_22']),'')),''),\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_22'])),'*')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_22']),'')),''),\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_22'])),\n    '. Approving this request will replace previous value with ',\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_22'])),\n    '.*;'\n  )\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@outputs('GetItem(App_ReservationLog)')?['body/field_11']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")":{"actions":{"Apply(Approval)ToEach_Post-Approval":{"foreach":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval')?['responder/email']","item/field_22":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Approval":{"runAfter":{"Apply(Approval)ToEach_Post-Approval":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":3,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval":{"runAfter":{"Delay(15,_second)_Post-Approval":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/Title']","item/field_22":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_22']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Mondays":["Succeeded"]},"else":{"actions":{"IF(Outcome_=_\"Denied\")":{"actions":{"Apply(Approval)ToEach_Post-Denial":{"foreach":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial')?['responder/email']","item/field_22":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Denial":{"runAfter":{"Apply(Approval)ToEach_Post-Denial":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial":{"runAfter":{"Delay(15,_second)_Post-Denial":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"IF(Outcome_=_\"Changed\")":{"actions":{"Apply(Approval)ToEach_Post-Changed":{"foreach":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed')?['responder/email']","item/field_22":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Changed":{"runAfter":{"Apply(Approval)ToEach_Post-Changed":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed":{"runAfter":{"Delay(15,_second)_Post-Changed":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/Title']","item/field_22":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_22']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Mondays":{"runAfter":{"CreateApproval(forTCT)_Mondays":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Mondays')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"If(Tuesday)":{"actions":{"CreateApproval(forTCT)_Tuesdays":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']} [test]","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Miguel.Mata@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_23']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_23'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_23']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_23'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_23'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")_Tuesdays":{"actions":{"Apply(Approval)ToEach_Post-Approval_2":{"foreach":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_2":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_2')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_2')?['responder/email']","item/field_23":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Approval_2":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_2":{"runAfter":{"Delay(15,_second)_Post-Approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_2":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/Title']","item/field_23":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_23']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Tuesdays":["Succeeded"]},"else":{"actions":{"IF(Outcome_=_\"Denied\")_2":{"actions":{"Apply(Approval)ToEach_Post-Denial_2":{"foreach":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_2":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_2')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_2')?['responder/email']","item/field_23":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Denial_2":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_2":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_2":{"runAfter":{"Delay(15,_second)_Post-Denial_2":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"IF(Outcome_=_\"Changed\")_2":{"actions":{"Apply(Approval)ToEach_Post-Changed_2":{"foreach":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_2":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_2')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_2')?['responder/email']","item/field_23":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Changed_2":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_2":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_2":{"runAfter":{"Delay(15,_second)_Post-Changed_2":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_2":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_2":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Tuesdays":{"runAfter":{"CreateApproval(forTCT)_Tuesdays":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Tuesdays')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"If(Wednesday)":{"actions":{"CreateApproval(forTCT)_Wednesday":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']} [test]","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Miguel.Mata@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_24']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_24'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_24']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_24'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_24'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")_Wednesday":{"actions":{"Apply(Approval)ToEach_Post-Approval_3":{"foreach":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_3":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_3')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_3')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Approval_3":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_3":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_3":{"runAfter":{"Delay(15,_second)_Post-Approval_3":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_3":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_3":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/Title']","item/field_24":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_24']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Wednesday":["Succeeded"]},"else":{"actions":{"IF(Outcome_=_\"Denied\")_3":{"actions":{"Apply(Approval)ToEach_Post-Denial_3":{"foreach":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_3":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_3')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_3')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Denial_3":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_3":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_3":{"runAfter":{"Delay(15,_second)_Post-Denial_3":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"IF(Outcome_=_\"Changed\")_3":{"actions":{"Apply(Approval)ToEach_Post-Changed_3":{"foreach":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_3":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_3')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_3')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Changed_3":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_3":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_3":{"runAfter":{"Delay(15,_second)_Post-Changed_3":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_3":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_3":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responseSummary']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Wednesday":{"runAfter":{"CreateApproval(forTCT)_Wednesday":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Wednesday')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"If(Thursday)":{"actions":{"CreateApproval(forTCT)_Thursday":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"TCT Reservation #@{outputs('GetItem(App_ReservationLog)')?['body/ID']}","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Miguel.Mata@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_25']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_25'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_25']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_25'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_25'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")_Thursday":{"actions":{"Apply(Approval)ToEach_Post-Approval_4":{"foreach":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_4":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_4')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_4')?['responder/email']","item/field_25":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Approval_4":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_4":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_4":{"runAfter":{"Delay(15,_second)_Post-Approval_4":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_4":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_4":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/Title']","item/field_24":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_24']","item/field_25":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_25']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Thursday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Thursday":{"runAfter":{"CreateApproval(forTCT)_Thursday":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Thursday')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Changed\")_Thursday":{"actions":{"Apply(Approval)ToEach_Post-Changed_5":{"foreach":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_5":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_5')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_5')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Changed_5":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_5":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_5":{"runAfter":{"Delay(15,_second)_Post-Changed_5":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_5":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_5":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Thursday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"IF(Outcome_=_\"Denied\")_Thursday":{"actions":{"Apply(Approval)ToEach_Post-Denial_5":{"foreach":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_5":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_5')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_5')?['responder/email']","item/field_25":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Denial_5":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_5":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_5":{"runAfter":{"Delay(15,_second)_Post-Denial_5":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Thursday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}},"else":{"actions":{"If(Friday)":{"actions":{"IF(Outcome_=_\"Approve\")_Friday":{"actions":{"Apply(Approval)ToEach_Post-Approval_5":{"foreach":"@outputs('WaitApproval(fromTCT)_Friday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_5":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Friday')?['body/requestDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_5')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_5')?['responder/email']","item/field_26":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Approval_5":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_5":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_5":{"runAfter":{"Delay(15,_second)_Post-Approval_5":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_5":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_5":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/Title']","item/field_26":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_26']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Friday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Friday":{"runAfter":{"CreateApproval(forTCT)_Friday":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Friday')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"CreateApproval(forTCT)_Friday":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"TCT Reservation #@{outputs('GetItem(App_ReservationLog)')?['body/ID']}","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Miguel.Mata@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_26']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_26'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_26']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_26'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_26'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Denied\")_Friday":{"actions":{"Apply(Approval)ToEach_Post-Denial_6":{"foreach":"@outputs('WaitApproval(fromTCT)_Friday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_6":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Friday')?['body/requestDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_6')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_6')?['responder/email']","item/field_26":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Denial_6":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_6":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_6":{"runAfter":{"Delay(15,_second)_Post-Denial_6":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Friday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"IF(Outcome_=_\"Changed\")_Friday":{"actions":{"Apply(Approval)ToEach_Post-Changed_7":{"foreach":"@outputs('WaitApproval(fromTCT)_Friday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_7":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_7')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_7')?['responder/email']","item/field_26":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Changed_7":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_7":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_7":{"runAfter":{"Delay(15,_second)_Post-Changed_7":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_7":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_7":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_7')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Friday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}},"else":{"actions":{}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Friday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Fridays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"}}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Thursday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Thursdays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"}}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Wednesday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Wednesdays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"}}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Tuesday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Tuesdays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"}}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Monday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Mondays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"}},"runAfter":{"GetUserDetails(TeleHealthTech)":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/field_7']","Reservation Submitted"]},"metadata":{"operationMetadataId":"1e6e04c3-b459-4990-8259-c7eb3e48f5c4"},"type":"If"},"GetUserDetails(Submitter)":{"runAfter":{"GetItem(List_MasterSchedule)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('GetItem(App_ReservationLog)')?['body/field_11']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"GetUserDetails(ClinicalStaff)":{"runAfter":{"GetUserDetails(Submitter)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"GetUserDetails(TeleHealthTech)":{"runAfter":{"GetUserDetails(ClinicalStaff)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('GetItem(App_ReservationLog)')?['body/field_29']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"GetItem(List_MasterSchedule)":{"runAfter":{"GetItem(App_ReservationLog)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@int(outputs('GetItem(App_ReservationLog)')?['body/Modified_Submitted_CombiTable_Ro'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"f3f51e7fd76043898aa98c3410ec147d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_approvals":{"connectionName":"shared-approvals-9d9f43a2-7e90-43b1-8e52-e749d602e126","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365users":{"connectionName":"241edaefcdae4a26a1d41bb0ff1712cc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}