src/power-automate/PopulateUserListDemographics/v0.2.1/.unpacked/Microsoft.Flow/flows/v0.2.1/definition.json
{"name":"e7878c79-1784-4e59-8ab4-1bd34b1498f5","id":"/providers/Microsoft.Flow/flows/e7878c79-1784-4e59-8ab4-1bd34b1498f5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"578TeleHealthSched_PopulateUserListDemographics","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ec4f9b5d-fe24-466f-a4af-0d030edc3f90","type":"User","tenantId":"e95f1b23-abaf-45ee-821d-b7ab251ab3bf"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-17T12:53:23.7622274Z","connectionKeySavedTimeKey":"2025-09-17T12:53:23.7622274Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"78be83b2-c156-484b-b4c6-3bae8ca47d95"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"9e296a65-09d0-4ea1-a0a6-bd0a2477821e"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"13029875-86dc-4262-8aa2-a4d808497c2b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"9e296a65-09d0-4ea1-a0a6-bd0a2477821e","id":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"ab48b12b-1391-4fb1-9943-c2a1e366515b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@triggerOutputs()?['body/Email_Text']"},"authentication":"@parameters('$authentication')"}},"Update_User_info":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"4a0f4d47-1bcb-42ae-bb1a-0a926815b8ce"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"9e296a65-09d0-4ea1-a0a6-bd0a2477821e","id":"@triggerOutputs()?['body/ID']","item/Email_Text":"@outputs('Get_user_profile_(V2)')?['body/mail']","item/modificationAutoTriggered_Boolea":"true","item/Title":"@triggerOutputs()?['body/ID']","item/GivenName_Text":"@outputs('Get_user_profile_(V2)')?['body/givenName']","item/Surname_Text":"@outputs('Get_user_profile_(V2)')?['body/surname']","item/NetworkAccount_Text":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']","item/BusinessPhones_Text":"@outputs('Compose')","item/Department_Text":"@outputs('Get_user_profile_(V2)')?['body/department']","item/OfficeLocation_Text":"@outputs('Get_user_profile_(V2)')?['body/officeLocation']","item/CompanyName_Text":"@outputs('Get_user_profile_(V2)')?['body/companyName']","item/City_Text":"@outputs('Get_user_profile_(V2)')?['body/city']","item/PostalCode_Text":"@outputs('Get_user_profile_(V2)')?['body/postalCode']","item/Country_Text":"@outputs('Get_user_profile_(V2)')?['body/country']","item/Id_Text":"@outputs('Get_user_profile_(V2)')?['body/id']","item/MailNickname_Text":"@outputs('Get_user_profile_(V2)')?['body/mailNickname']","item/utcNow_x0028__x0029__value":"@utcNow()","item/addMinutes_x0028_utcNow_x0028__x":"@addDays(triggerOutputs()?['body/utcNow_x0028__x0029__value'], 129,600)","item/JobTitle_Text":"@outputs('Get_user_profile_(V2)')?['body/jobTitle']","item/Mail_Text":"@outputs('Get_user_profile_(V2)')?['body/mail']","item/UserPrincipleName_Text":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']","item/mobilePhone_Text":"@outputs('Get_user_profile_(V2)')?['body/mobilePhone']","item/AccessLevel_Text":"@triggerOutputs()?['body/AccessLevel_Choice/Value']"},"authentication":"@parameters('$authentication')"}},"Get_manager_(V2)":{"runAfter":{"Update_User_info":["Succeeded"]},"metadata":{"operationMetadataId":"5e4b0e8b-e477-4b86-aa26-c69e870b67ee"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"Manager_V2"},"parameters":{"id":"@outputs('Update_User_info')?['body/Email_Text']"},"authentication":"@parameters('$authentication')"}},"Update_Manager_info":{"runAfter":{"Get_manager_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"9e9ab098-a6d1-427d-bd45-e3140ce1e672"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"9e296a65-09d0-4ea1-a0a6-bd0a2477821e","id":"@triggerOutputs()?['body/ID']","item/Email_Text":"@triggerOutputs()?['body/Email_Text']","item/modificationAutoTriggered_Boolea":"true","item/Manager_DisplayName_Text":"@outputs('Get_manager_(V2)')?['body/displayName']","item/Manager_Email_Text":"@outputs('Get_manager_(V2)')?['body/mail']","item/Manager_ID_Text":"@outputs('Get_manager_(V2)')?['body/id']","item/Manager_JobTitle_Text":"@outputs('Get_manager_(V2)')?['body/jobTitle']","item/Manager_NetworkAccount_Text":"@outputs('Get_manager_(V2)')?['body/mailNickname']","item/Manager_City_Text":"@outputs('Get_manager_(V2)')?['body/city']","item/Manager_CompanyName_Text":"@outputs('Get_manager_(V2)')?['body/companyName']"},"authentication":"@parameters('$authentication')"}},"Update_CLAIMS":{"runAfter":{"Update_Manager_info":["Succeeded"]},"metadata":{"operationMetadataId":"54cc55bd-1dc0-42b4-8d32-870d3a6a207f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"9e296a65-09d0-4ea1-a0a6-bd0a2477821e","id":"@triggerOutputs()?['body/ID']","item/Email_Text":"@outputs('Update_Manager_info')?['body/Email_Text']","item/modificationAutoTriggered_Boolea":"true","item/Name_x0028_WithPresence_x0029__P/Claims":"@outputs('Get_user_profile_(V2)')?['body/displayName']","item/Email_Person/Claims":"@outputs('Get_user_profile_(V2)')?['body/mail']","item/Title_Person/Claims":"@outputs('Get_user_profile_(V2)')?['body/jobTitle']","item/Manager_Email_Person/Claims":"@outputs('Get_manager_(V2)')?['body/mail']","item/Id_Person/Claims":"@outputs('Get_user_profile_(V2)')?['body/id']","item/Account_Person/Claims":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']","item/LastName_Person/Claims":"@outputs('Get_user_profile_(V2)')?['body/surname']","item/Name_x0028_withPictureAndDetails/Claims":"@outputs('Get_user_profile_(V2)')?['body/mail']","item/Manager_Name_x0028_withPresence_/Claims":"@outputs('Get_manager_(V2)')?['body/displayName']"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"40b90627-6a05-461a-8ea4-43afdf93ed21"},"type":"Compose","inputs":"@replace(replace(replace(replace(join(outputs('Get_user_profile_(V2)')?['body/businessPhones'], ''), '[', ''), ']', ''), '\"', ''), '\\','')"},"Post_message_in_a_chat_or_channel":{"runAfter":{"Get_updated_item":["Succeeded"]},"metadata":{"operationMetadataId":"5fe6c6db-7e50-4bb7-8068-73de94ef5ac9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"Kyle.Coder@va.gov;","body/messageBody":"<p>A user was added or modified on the \"<a href=\"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp/Lists/App_User_list/AllItems.aspx\">App_User_list</a>\": <strong>&nbsp;</strong><strong>@{outputs('Get_updated_item')?['body/Email_Text']}</strong><strong></strong></p>\n<ul>\n  <li>User's new access level: &nbsp;&nbsp;<strong></strong><strong>@{outputs('Get_updated_item')?['body/AccessLevel_Choice/Value']}</strong><strong></strong></li>\n  <li>User was added/modified by: &nbsp;<strong>&nbsp;</strong><strong>@{outputs('Get_updated_item')?['body/Editor/DisplayName']}</strong><strong></strong></li>\n  <li>Link to this specific user's item: &nbsp;<em><strong>&nbsp;</strong></em><u><em><strong></strong></em></u><u><em><strong>@{outputs('Get_updated_item')?['body/{Link}']}</strong></em></u><u><em><strong></strong></em></u></li>\n</ul>","body/isAlert":true},"authentication":"@parameters('$authentication')"}},"Get_updated_item":{"runAfter":{"Update_CLAIMS":["Succeeded"]},"metadata":{"operationMetadataId":"1703247b-c859-47ff-8ecd-44e20c6dc371"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"9e296a65-09d0-4ea1-a0a6-bd0a2477821e","id":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/modificationAutoTriggered_Boolea']",true]},"metadata":{"operationMetadataId":"17073e56-2fd9-4a69-94dc-820c269d1e46"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"f3f51e7fd76043898aa98c3410ec147d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365users":{"connectionName":"241edaefcdae4a26a1d41bb0ff1712cc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"shared-teams-77521a01-aa18-4bbd-afd9-b26c59641fe1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}