src/power-automate/AppUserList/v0.3.0/.logicAppTemplate/578TeleHealthSched_AppUserList.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"office365users_Connection_Name":{"defaultValue":"office365users","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}},"sendmail_Connection_Name":{"defaultValue":"sendmail","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sendmail_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?.value","metadata":{"operationMetadataId":"8f3bcd4b-4c75-48e7-829d-24465c8feeae","flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/578TelehealthResourceApp'))}/tables/@{encodeURIComponent(encodeURIComponent('9e296a65-09d0-4ea1-a0a6-bd0a2477821e'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"GetUserProfile(emailText)":{"runAfter":{"Delay(5,_second)_A":["Succeeded"]},"metadata":{"operationMetadataId":"932caaf0-b63c-45c7-b8e1-5f025d8039b8","flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(toLower(triggerBody()?['Email_Text']))}","authentication":"@parameters('$authentication')"}},"GetManagerProfile(emailText)":{"runAfter":{"Delay(5,_second)_B":["Succeeded"]},"metadata":{"operationMetadataId":"9d491b51-fa8e-4c26-aaeb-97227f50a131","flowSystemMetadata":{"swaggerOperationId":"Manager_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(toLower(triggerBody()?['Email_Text']))}/manager","authentication":"@parameters('$authentication')"}},"UpdateItem(emailText,_managerProfileDemographics)":{"runAfter":{"GetManagerProfile(emailText)":["Succeeded"]},"metadata":{"operationMetadataId":"859b3d83-371d-4ad8-88ef-7ff16ea3a024","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Email_Text":"@{toLower(body('GetUserProfile(emailText)')?['mail'])}","Manager_Email_Person":{"Claims":"@body('GetManagerProfile(emailText)')?['mail']"},"Manager_Email_Text":"@{toLower(\r\nbody('GetManagerProfile(emailText)')?['mail']\r\n)}","Manager_DisplayName_Text":"@body('GetManagerProfile(emailText)')?['displayName']","Manager_JobTitle_Text":"@body('GetManagerProfile(emailText)')?['jobTitle']","Manager_FullAddress_Text":"@{body('GetManagerProfile(emailText)')?['companyName']} (@{body('GetManagerProfile(emailText)')?['department']}),\n@{body('GetManagerProfile(emailText)')?['officeLocation']},\n@{body('GetManagerProfile(emailText)')?['streetAddress']},\n@{body('GetManagerProfile(emailText)')?['city']}, @{body('GetManagerProfile(emailText)')?['state']}, @{body('GetManagerProfile(emailText)')?['postalCode']},\n@{body('GetManagerProfile(emailText)')?['country']}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/578TelehealthResourceApp'))}/tables/@{encodeURIComponent(encodeURIComponent('9e296a65-09d0-4ea1-a0a6-bd0a2477821e'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Delay(5,_second)_A":{"runAfter":{},"metadata":{"operationMetadataId":"99c685de-7cc2-40c1-bfcd-efc84fe44042"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Delay(5,_second)_B":{"runAfter":{"UpdateItem(emailText,_userProfileDemographics)":["Succeeded"]},"metadata":{"operationMetadataId":"ba827355-d20f-4064-a86c-de6ed76ba964"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Delay(5,_second)_C":{"runAfter":{"UpdateItem(emailText,_managerProfileDemographics)":["Succeeded"]},"metadata":{"operationMetadataId":"cbae539f-aa14-4ea6-a792-3f470c7d0640"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Delay(5,_second)_D":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"40193dfa-a15d-4915-a72b-364d6677c424"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Get_item":{"runAfter":{"Delay(5,_second)_D":["Succeeded"]},"metadata":{"operationMetadataId":"8bf08562-eb7f-48e4-801a-e0ccaef39729","flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/578TelehealthResourceApp'))}/tables/@{encodeURIComponent(encodeURIComponent('9e296a65-09d0-4ea1-a0a6-bd0a2477821e'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"UpdateItem(emailText,_userProfileDemographics)":{"runAfter":{"GetUserProfile(emailText)":["Succeeded"]},"metadata":{"operationMetadataId":"244feb11-3aae-4315-9e1b-fb9596e8f8f9","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Email_Text":"@{toLower(body('GetUserProfile(emailText)')?['mail'])}","Title":"@body('GetUserProfile(emailText)')?['id']","Email_Person":{"Claims":"@body('GetUserProfile(emailText)')?['mail']"},"GivenName_Text":"@body('GetUserProfile(emailText)')?['givenName']","Surname_Text":"@body('GetUserProfile(emailText)')?['surname']","Approver_Email_Person":{"Claims":"@triggerBody()?['Author']?['Email']"},"AccessStart_dateTime":"@{formatDateTime(\r\n    convertTimeZone(\r\n        utcNow(),\r\n        'UTC',\r\n        'Central Standard Time'\r\n        ),\r\n    'MM/dd/yyyy hh:mm tt'\r\n)}","AccessStop_dateTime":"@{formatDateTime(\r\n    addDays(\r\n        utcNow(),\r\n        180\r\n        ),\r\n    'yyyy-MM-ddTHH:mm:ssZ'\r\n)}","OverdueAccessReview_Choice":{"Value":"true"},"JobTitle_Text":"@body('GetUserProfile(emailText)')?['jobTitle']","DisplayName_Text":"@body('GetUserProfile(emailText)')?['displayName']","PreferredName_Text":"@body('GetUserProfile(emailText)')?['preferredName']","MailNickname_Text":"@body('GetUserProfile(emailText)')?['mailNickname']","UserPrincipleName_Text":"@body('GetUserProfile(emailText)')?['userPrincipalName']","Id_Text":"@body('GetUserProfile(emailText)')?['id']","mobilePhone_Text":"@body('GetUserProfile(emailText)')?['mobilePhone']","TelephoneNumber_Text":"@{concat(\r\n    body('GetUserProfile(emailText)')?['businessPhones']\r\n)}","BusinessPhones_Text":"@{body('GetUserProfile(emailText)')?['businessPhones']}","CompanyName_Text":"@body('GetUserProfile(emailText)')?['companyName']","Department_Text":"@body('GetUserProfile(emailText)')?['department']","OfficeLocation_Text":"@body('GetUserProfile(emailText)')?['officeLocation']","StreetAddress_Text":"@body('GetUserProfile(emailText)')?['streetAddress']","City_Text":"@body('GetUserProfile(emailText)')?['city']","State_Text":"@body('GetUserProfile(emailText)')?['state']","PostalCode_Text":"@body('GetUserProfile(emailText)')?['postalCode']","Country_Text":"@body('GetUserProfile(emailText)')?['country']","FullAddress_Text":"@{body('GetUserProfile(emailText)')?['companyName']} (@{body('GetUserProfile(emailText)')?['department']}),\n@{body('GetUserProfile(emailText)')?['officeLocation']},\n@{body('GetUserProfile(emailText)')?['streetAddress']},\n@{body('GetUserProfile(emailText)')?['city']}, @{body('GetUserProfile(emailText)')?['state']}, @{body('GetUserProfile(emailText)')?['postalCode']},\n@{body('GetUserProfile(emailText)')?['country']}","PreferredLanguage_Text":"@body('GetUserProfile(emailText)')?['preferredLanguage']","AboutMe_Text":"@body('GetUserProfile(emailText)')?['aboutMe']","Birthday":"@body('GetUserProfile(emailText)')?['birthday']","HireDate_Text":"@body('GetUserProfile(emailText)')?['hireDate']","MySite_Text":"@body('GetUserProfile(emailText)')?['mySite']","Approver_Email_Text":"@triggerBody()?['Author']?['Email']","Approver_DisplayName_Text":"@triggerBody()?['Author']?['DisplayName']","AccessStart_Text":"@{formatDateTime(\r\n    convertTimeZone(\r\n        utcNow(),\r\n        'UTC',\r\n        'Central Standard Time'\r\n        ),\r\n    'MM/dd/yyyy hh:mm tt'\r\n)}","AccessStop_Text":"@{formatDateTime(\n    addDays(\n        utcNow(),\n        180\n        ),\n    'yyyy-MM-ddTHH:mm:ssZ'\n)}","Mail_Text":"@body('GetUserProfile(emailText)')?['mail']","UserType_Text":"@body('GetUserProfile(emailText)')?['userType']","AccessLevel_Text":"@triggerBody()?['AccessLevel_Choice']?['Value']","utcNow_x0028__x0029__value":"@{utcNow()}","addMinutes_x0028_utcNow_x0028__x":"@{formatDateTime(\r\n    addMinutes(\r\n        utcNow(),\r\n        10\r\n        ),\r\n    'yyyy-MM-ddTHH:mm:ssZ'\r\n)}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/578TelehealthResourceApp'))}/tables/@{encodeURIComponent(encodeURIComponent('9e296a65-09d0-4ea1-a0a6-bd0a2477821e'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Compose(GetUserProfile(emailText(Business_Phones)))":{"runAfter":{"Delay(5,_second)_C":["Succeeded"]},"metadata":{"operationMetadataId":"428d91a8-69b4-445a-b6bf-c87da99c1801"},"type":"Compose","inputs":"@Concat(\r\n    'GetUserProfile(emailText(Business Phones)): ',\r\n    body('GetUserProfile(emailText)')?['businessPhones'],\r\n    ';   '\r\n)"},"ApplyToEach(body(GetUserProfile(emailText(Business_Phones))))":{"foreach":"@body('GetUserProfile(emailText)')?['businessPhones']","actions":{"Compose(body(GetUserProfile(emailText(Business_Phones_Items))))":{"runAfter":{},"metadata":{"operationMetadataId":"72558f9d-7d4c-446c-a7a8-f7c37e728c47"},"type":"Compose","inputs":"@Concat(\r\n    'GetUserProfile(emailText(Business Phones Items)): ',\r\n    items('ApplyToEach(body(GetUserProfile(emailText(Business_Phones))))'),\r\n    ';   '\r\n)"}},"runAfter":{"Compose(GetUserProfile(emailText(Business_Phones)))":["Succeeded"]},"metadata":{"operationMetadataId":"3d75e839-80c5-4398-8e2a-008ec1886ec9"},"type":"Foreach"},"Compose(GetManagerProfile(emailText(Business_Phones)))":{"runAfter":{"ApplyToEach(body(GetUserProfile(emailText(Business_Phones))))":["Succeeded"]},"metadata":{"operationMetadataId":"a297652a-39fa-4448-b96f-3ff4b88a4a50"},"type":"Compose","inputs":"@Concat(\r\n    'GetManagerProfile(emailText(Business Phones)): ',\r\n    body('GetManagerProfile(emailText)')?['businessPhones'],\r\n    ';   '\r\n)"},"ApplyToEach(body(GetManagerProfile(emailText(Business_Phones))))":{"foreach":"@body('GetManagerProfile(emailText)')?['businessPhones']","actions":{"Compose(body(GetManagerProfile(emailText(Business_Phones_Items))))":{"runAfter":{},"metadata":{"operationMetadataId":"f254d8b7-8340-46d2-9519-6dfc467cd251"},"type":"Compose","inputs":"@Concat(\r\n    'GetManagerProfile(emailText(Business Phones Items))): ',\r\n    items('ApplyToEach(body(GetManagerProfile(emailText(Business_Phones))))'),\r\n    ';   '\r\n)"}},"runAfter":{"Compose(GetManagerProfile(emailText(Business_Phones)))":["Succeeded"]},"metadata":{"operationMetadataId":"532f60ac-fde3-46a8-a3d6-5e21267dc38f"},"type":"Foreach"},"Update_item":{"runAfter":{"ApplyToEach(body(GetManagerProfile(emailText(Business_Phones))))":["Succeeded"]},"metadata":{"operationMetadataId":"7b2410ff-8700-45a5-b87d-52962791883d","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Email_Text":"@{toLower(body('GetUserProfile(emailText)')?['mail'])}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/578TelehealthResourceApp'))}/tables/@{encodeURIComponent(encodeURIComponent('9e296a65-09d0-4ea1-a0a6-bd0a2477821e'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)_2":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"6f5ef30b-fc31-47d0-8941-123c3dad6663","flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sendmail']['connectionId']"}},"method":"post","body":{"to":"kyle.coder@va.gov","subject":"[DO NOT REPLY] You have been granted access to the '578 Telehealth Resource App'!","text":"<p>\n  <span style=\"color: rgb(226,80,65)\">[</span>\n  <span style=\"color: rgb(226,80,65)\"><strong>DO NOT REPLY - AUTOMATICALLY GENERATED EMAIL</strong></span>\n  <span style=\"color: rgb(226,80,65)\">]</span><br><br><br>\n  Hello @{body('Get_item')?['GivenName_Text']},<br><br>\n  You have been approved for advanced access to the \n  '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/9aff90ae-fb68-4e6b-be54-d61f76f7266c\">\n    578 Telehealth Resource App\n  </a>' by a manager/admin at the Edward Hines Jr. VA Hospital! Please see the details below regarding the new level of advanced access that you have been granted:\n</p>\n\n<table style=\"border-collapse:collapse;\">\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px; border-bottom:1px solid #ccc;\">Name</td>\n    <td style=\"padding:4px 8px; border-bottom:1px solid #ccc;\">\n      <i>@{toUpper(body('Get_item')?['DisplayName_Text'])}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px; border-bottom:1px solid #ccc;\">Email</td>\n    <td style=\"padding:4px 8px; border-bottom:1px solid #ccc;\">\n      <i>@{body('Get_item')?['MailNickname_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px; border-bottom:1px solid #ccc;\">Account Name</td>\n    <td style=\"padding:4px 8px; border-bottom:1px solid #ccc;\">\n      <i>(aka \"NetworkAccount_Text\") @{body('Get_item')?['NetworkAccount_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px; border-bottom:1px solid #ccc;\">Access Level</td>\n    <td style=\"padding:4px 8px; border-bottom:1px solid #ccc;\">\n      <i>@{body('Get_item')?['AccessLevel_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px; border-bottom:1px solid #ccc;\">Access Granted By</td>\n    <td style=\"padding:4px 8px; border-bottom:1px solid #ccc;\">\n      <i>@{body('Get_item')?['Author']?['DisplayName']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px; border-bottom:1px solid #ccc;\">Access Granted Date/Time</td>\n    <td style=\"padding:4px 8px; border-bottom:1px solid #ccc;\">\n      <i>@{body('Get_item')?['AccessStart_dateTime']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px;\">Access Expiration Date/Time</td>\n    <td style=\"padding:4px 8px;\">\n      <i>@{body('Get_item')?['AccessStop_dateTime']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 8px;\">Link</td>\n    <td style=\"padding:4px 8px;\">\n      <i>\n        <a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/9aff90ae-fb68-4e6b-be54-d61f76f7266c\">\n          https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/9aff90ae-fb68-4e6b-be54-d61f76f7266c\n        </a>\n      </i>\n    </td>\n  </tr>\n</table>\n\n<p>\n  <br>\n  If you have any questions, concerns, or would like more information about the new advanced access level you have been granted within the \n  '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/9aff90ae-fb68-4e6b-be54-d61f76f7266c\">\n    578 Telehealth Resource App\n  </a>', then please contact the manager/admin who approved your new access (\n  <b><u>@{body('Get_item')?['Author']?['Email']}</u></b>\n  ). Additional support or instructions are available on the Telehealth Team's SharePoint site: \n  <a href=\"https://dvagov.sharepoint.com/sites/vhahin/htc/\"><u><em><strong>\n    https://dvagov.sharepoint.com/sites/vhahin/htc/\n  </strong></em></u></a>\n  <br><br><br>\n  Thank you,<br><br>\n  <a href=\"mailto:HINESTCTS@va.gov\">Hines VA Telehealth Team</a>\n<br>\n<br>\n<br>\n</p>","ishtml":true,"cc":"@body('Get_item')?['Author']?['Email']"},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}}},"description":"Create a custom action to happen when a new item is added to SharePoint. It could be sending an email, copying the item to a folder or web service, or more if you decide."},"parameters":{"$connections":{"value":{"office365users":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]","connectionName":"[parameters('office365users_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"},"sendmail":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendmail')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sendmail_Connection_Name'))]","connectionName":"[parameters('sendmail_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-EC4F9B5DFE24466FA4AF0D030EDC3F90"}},"integrationAccount":{"name":"e95f1b23abaf45ee821db7ab251ab3bf-usgovtexas","id":"subscriptions/f5495a45-0289-45d7-9228-531133da3e48/resourceGroups/e95f1b23abaf45ee821db7ab251ab3bf-ia/providers/Microsoft.Logic/integrationAccounts/e95f1b23abaf45ee821db7ab251ab3bf-usgovtexas","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365users_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]"},"displayName":"[parameters('office365users_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sharepointonline_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sendmail_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendmail')]"},"displayName":"[parameters('sendmail_Connection_Name')]"}}]}