src/power-automate/ReservationRequest/v0.3.2/.unpacked/Microsoft.Flow/flows/3dfbb6f4-8a87-4320-a792-d5e4b7846f7d/definition.json
{"name":"dc7aa887-ff3d-4bb9-9c94-f79d7651e929","id":"/providers/Microsoft.Flow/flows/dc7aa887-ff3d-4bb9-9c94-f79d7651e929","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"578TeleHealthSched_ReservationRequest","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ec4f9b5d-fe24-466f-a4af-0d030edc3f90","type":"User","tenantId":"e95f1b23-abaf-45ee-821d-b7ab251ab3bf"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-10-21T14:48:10.0763253Z","connectionKeySavedTimeKey":"2025-10-21T14:48:10.0763253Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"54b76522-c330-4459-b3c4-a1e6047ee377"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"GetItem(App_ReservationLog)":{"runAfter":{},"metadata":{"operationMetadataId":"8e3713b6-c6c7-4bfa-9047-d75307060c6a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"If(Modified_Type_=_\"Reservation_Submitted\")":{"actions":{"If(Mondays)":{"actions":{"CreateApproval(forTCT)_Mondays":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED","DENIED","[DO NOT USE YET] CHANGED"],"ApprovalCreationInput/title":"[test] TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']}","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_22']),'')),''),\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_22'])),'*')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_22']),'')),''),\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_22'])),\n    '. Approving this request will replace previous value with ',\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_22'])),\n    '.*;'\n  )\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@outputs('GetItem(App_ReservationLog)')?['body/field_11']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")":{"actions":{"Apply(Approval)ToEach_Post-Approval":{"foreach":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval')?['responder/email']","item/field_22":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Approval":{"runAfter":{"Apply(Approval)ToEach_Post-Approval":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval":{"runAfter":{"Delay(5,_second)_Post-Approval":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/Title']","item/field_22":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_22']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Mondays":["Succeeded"]},"else":{"actions":{"IF(Outcome_=_\"Denied\")":{"actions":{"Apply(Approval)ToEach_Post-Denial":{"foreach":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial')?['responder/email']","item/field_22":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Denial":{"runAfter":{"Apply(Approval)ToEach_Post-Denial":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial":{"runAfter":{"Delay(5,_second)_Post-Denial":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"IF(Outcome_=_\"Changed\")":{"actions":{"Apply(Approval)ToEach_Post-Changed":{"foreach":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Mondays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed')?['responder/email']","item/field_22":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Changed":{"runAfter":{"Apply(Approval)ToEach_Post-Changed":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed":{"runAfter":{"Delay(15,_second)_Post-Changed":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/Title']","item/field_22":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_22']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Mondays')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Mondays":{"runAfter":{"CreateApproval(forTCT)_Mondays":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Mondays')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"ChatBot(sendParallelAdaptiveCardMessage)_test":{"runAfter":{"CreateApproval(forTCT)_Mondays":["TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"65ec4bf6-e612-4a00-b9a1-0f9294df3e06"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"Kyle.Coder@va.gov","body/messageBody":"<p class=\"editor-paragraph\"><u><b><strong class=\"editor-text-bold editor-text-underline\">Adaptive Card</strong></b></u>:   @{outputs('CreateApproval(forTCT)_Mondays')?['body/adaptiveCard']}</p><br><p class=\"editor-paragraph\"><u><b><strong class=\"editor-text-bold editor-text-underline\">Respond Link</strong></b></u>:<b><strong class=\"editor-text-bold\">  </strong></b>@{outputs('CreateApproval(forTCT)_Mondays')?['body/respondLink']}</p><br><p class=\"editor-paragraph\"><u><b><strong class=\"editor-text-bold editor-text-underline\">Item Link</strong></b></u>:   @{outputs('CreateApproval(forTCT)_Mondays')?['body/itemLink']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay(1,_minute)_PreMondays":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Monday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Mondays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"},"Delay(1,_minute)_PreTuesdays":{"metadata":{"operationMetadataId":"38a17929-9721-4932-8812-1ec04c3580dc"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"If(Tuesday)":{"actions":{"CreateApproval(forTCT)_Tuesdays":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"[test] TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']}","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_23']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_23'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_23']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_23'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_23'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")_Tuesdays":{"actions":{"Apply(Approval)ToEach_Post-Approval_2":{"foreach":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_2":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_2')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_2')?['responder/email']","item/field_23":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Approval_2":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_2":{"runAfter":{"Delay(5,_second)_Post-Approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_2":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/Title']","item/field_23":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_23']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_2')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Tuesdays":["Succeeded"]},"else":{"actions":{"IF(Outcome_=_\"Denied\")_2":{"actions":{"Apply(Approval)ToEach_Post-Denial_2":{"foreach":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_2":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_2')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_2')?['responder/email']","item/field_23":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Denial_2":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_2":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_2":{"runAfter":{"Delay(5,_second)_Post-Denial_2":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"IF(Outcome_=_\"Changed\")_2":{"actions":{"Apply(Approval)ToEach_Post-Changed_2":{"foreach":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_2":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_2')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_2')?['responder/email']","item/field_23":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Changed_2":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_2":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_2":{"runAfter":{"Delay(5,_second)_Post-Changed_2":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_2":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_2":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_2')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Tuesdays')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Tuesdays":{"runAfter":{"CreateApproval(forTCT)_Tuesdays":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Tuesdays')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay(1,_minute)_PreTuesdays":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Tuesday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Tuesdays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"},"Delay(1,_minute)_PreMondays":{"metadata":{"operationMetadataId":"a5e9852d-cd04-44c1-86b8-b1ccd2b653e6"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"Delay(1,_minute)_PreWednesdays":{"metadata":{"operationMetadataId":"d6d0b7ab-d0d2-4ac8-9dc6-a091378a8c0f"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"If(Wednesday)":{"actions":{"CreateApproval(forTCT)_Wednesday":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"[test] TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']}","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_24']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_24'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_24']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_24'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_24'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")_Wednesday":{"actions":{"Apply(Approval)ToEach_Post-Approval_3":{"foreach":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_3":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_3')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_3')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Approval_3":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_3":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_3":{"runAfter":{"Delay(5,_second)_Post-Approval_3":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_3":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_3":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/Title']","item/field_24":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_24']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_3')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Wednesday":["Succeeded"]},"else":{"actions":{"IF(Outcome_=_\"Denied\")_3":{"actions":{"Apply(Approval)ToEach_Post-Denial_3":{"foreach":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_3":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_3')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_3')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Denial_3":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_3":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_3":{"runAfter":{"Delay(5,_second)_Post-Denial_3":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"IF(Outcome_=_\"Changed\")_3":{"actions":{"Apply(Approval)ToEach_Post-Changed_3":{"foreach":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_3":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Wednesday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_3')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_3')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Changed_3":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_3":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_3":{"runAfter":{"Delay(5,_second)_Post-Changed_3":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_3":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_3":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_3')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Wednesday')?['body/responseSummary']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Wednesday')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Wednesday":{"runAfter":{"CreateApproval(forTCT)_Wednesday":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Wednesday')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Delay(1,_minute)_PreWednesdays":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Wednesday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Wednesdays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"},"Delay(1,_minute)_PreThursdays":{"metadata":{"operationMetadataId":"6d08130f-5b4b-4a82-9a2a-18224f5d4a4f"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"Delay(1,_minute)_PreFridays":{"metadata":{"operationMetadataId":"f8304928-1602-401f-85b4-e9c43f25f570"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"If(Thursday)":{"actions":{"CreateApproval(forTCT)_Thursday":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"[test] TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']}","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_25']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_25'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_25']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_25'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_25'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Approve\")_Thursday":{"actions":{"Apply(Approval)ToEach_Post-Approval_4":{"foreach":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_4":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_4')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_4')?['responder/email']","item/field_25":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Approval_4":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_4":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_4":{"runAfter":{"Delay(5,_second)_Post-Approval_4":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_4":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_4":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/Title']","item/field_24":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_24']","item/field_25":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_25']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_4')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Thursday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Thursday":{"runAfter":{"CreateApproval(forTCT)_Thursday":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Thursday')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Changed\")_Thursday":{"actions":{"Apply(Approval)ToEach_Post-Changed_4":{"foreach":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_4":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_4')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_4')?['responder/email']","item/field_24":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Changed_4":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_4":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_4":{"runAfter":{"Delay(5,_second)_Post-Changed_4":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_4":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_4":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_4')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Thursday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"IF(Outcome_=_\"Denied\")_Thursday":{"actions":{"Apply(Approval)ToEach_Post-Denial_4":{"foreach":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_4":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Thursday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_4')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_4')?['responder/email']","item/field_25":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Denial_4":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_4":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_4":{"runAfter":{"Delay(5,_second)_Post-Denial_4":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Thursday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Thursday')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}},"runAfter":{"Delay(1,_minute)_PreThursdays":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Thursday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Thursdays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"},"If(Friday)":{"actions":{"IF(Outcome_=_\"Approve\")_Friday":{"actions":{"Apply(Approval)ToEach_Post-Approval_5":{"foreach":"@outputs('WaitApproval(fromTCT)_Friday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Approval_5":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Friday')?['body/requestDate']","item/field_7":"Reservation Approved","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Approval_5')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Approval_5')?['responder/email']","item/field_26":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Approval_5":{"runAfter":{"Apply(Approval)ToEach_Post-Approval_5":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Approval_5":{"runAfter":{"Delay(5,_second)_Post-Approval_5":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Approval_5":{"runAfter":{"GetItem(App_ReservationLog)_Post-Approval_5":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/Title']","item/field_26":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_26']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Approval_5')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Friday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']","APPROVED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"WaitApproval(fromTCT)_Friday":{"runAfter":{"CreateApproval(forTCT)_Friday":["Succeeded"]},"metadata":{"operationMetadataId":"1c87cbee-cbef-441a-9f98-ef6f9cad1760"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('CreateApproval(forTCT)_Friday')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"CreateApproval(forTCT)_Friday":{"metadata":{"operationMetadataId":"0eb4fb22-c192-4d92-bf72-33264b1bca58"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["APPROVED - Automatically update the \"Telehealth Master Schedule\" with this change...","DENIED - Do not modify the \"Telehealth Master Schedule\"...","[DO NOT USE YET] CHANGED - Request able to be fulfill with a change to date/time/room/building…"],"ApprovalCreationInput/title":"[test] TCT Reservation Request #@{outputs('GetItem(App_ReservationLog)')?['body/ID']}","ApprovalCreationInput/assignedTo":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","ApprovalCreationInput/details":"[TESTING PURPOSES ONLY] A request has been submitted on @{outputs('GetItem(App_ReservationLog)')?['body/field_10']} by @{outputs('GetItem(App_ReservationLog)')?['body/field_11']} to reserve the @{outputs('GetItem(App_ReservationLog)')?['body/field_1']} CBOC's CVT room #@{outputs('GetItem(App_ReservationLog)')?['body/field_2']} to the TCT Team for your approval or denial. Please review the impacts of this change below, and then take the appropriate action on this request:\n\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_1']),'')),''),\n  '**BUILDING NAME**:   *ERROR / MISSING*;',\n  concat('**BUILDING NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_1'])),' CBOC*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_2']),'')),''),\n  '**ROOM NUMBER**:   *ERROR / MISSING*;',\n  concat('**ROOM NUMBER**:   *#',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_2'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']),'')),''),\n  '**DAY OF WEEK**:   *ERROR / MISSING*;',\n  concat('**DAY OF WEEK**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27']),'')),''),\n  '**TIME REQUESTED**:   *ERROR / MISSING*;',\n  concat('**TIME REQUESTED**:   *',trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_27'])),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',\n    trim(replace(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),''),\n    ' 11:59 PM','')\n  ),\n  '*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_12']),'')),''),\n  '**EXPIRATION DATE**:   *NONE / RESERVATION IS INDEFINITE*;',\n  concat('**EXPIRATION DATE**:   *',trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_17']),'')),'*;')\n)}\n@{if(\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),'')),''),\n  '**CLINICAL STAFF MEMBER**:   *ERROR / MISSING*;',\n  concat('**CLINICAL STAFF MEMBER**:   *',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/displayName'],'(Name Unknown)'),\n    ' (',\n    coalesce(outputs('GetUserDetails(ClinicalStaff)')?['body/userPrincipalName'], outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']),\n    ')*;'\n  )\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(App_ReservationLog)')?['body/field_26']),'')),''),\r\n  '**NEW CLINIC/VistA LOCATION NAME**:   *ERROR / MISSING*;',\r\n  concat('**NEW CLINIC/VistA LOCATION NAME**:   *',trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_26'])),'*')\r\n)}\n@{if(\r\n  equals(trim(coalesce(string(outputs('GetItem(List_MasterSchedule)')?['body/field_26']),'')),''),\r\n  '**SCHEDULE CONFLICT**:   *NONE – timeslot is currently open & available*;',\r\n  concat('**SCHEDULE CONFLICT**:   *Existing reservation for ',\r\n    trim(string(outputs('GetItem(List_MasterSchedule)')?['body/field_26'])),\r\n    '. Approving this request will replace previous value with ',\r\n    trim(string(outputs('GetItem(App_ReservationLog)')?['body/field_26'])),\r\n    '.*;'\r\n  )\r\n)}\n\n\nIf you *APPROVE* this reservation request, the 'Telehealth Master Schedule' will be automatically updated for the specified day/time with the new clinic name (it will replace the previously scheduled value) & the employees that this change impacts will be notified.\nIf you *DENY* this reservation request, the 'Telehealth Master Schedule' will *not* be modified in any way from the current value, & the employees this denial impacts will be automatically notified.\n**[DO NOT USE THIS OPTION YET]** If you *CHANGE* this reservation request, you will automatically receive a message via Microsoft Teams from a ChatBot that will ask you more questions about your changes.","ApprovalCreationInput/requestor":"@{outputs('GetItem(App_ReservationLog)')?['body/field_11']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"IF(Outcome_=_\"Denied\")_Friday":{"actions":{"Apply(Approval)ToEach_Post-Denial_5":{"foreach":"@outputs('WaitApproval(fromTCT)_Friday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Denial_5":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Friday')?['body/requestDate']","item/field_7":"Reservation Denied","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Denial_5')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Denial_5')?['responder/email']","item/field_26":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Denied"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(5,_second)_Post-Denial_5":{"runAfter":{"Apply(Approval)ToEach_Post-Denial_5":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Denial_5":{"runAfter":{"Delay(5,_second)_Post-Denial_5":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Friday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']","DENIED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"},"IF(Outcome_=_\"Changed\")_Friday":{"actions":{"Apply(Approval)ToEach_Post-Changed_5":{"foreach":"@outputs('WaitApproval(fromTCT)_Friday')?['body/responses']","actions":{"UpdateItem(App_ReservationLog)_Post-Changed_5":{"metadata":{"operationMetadataId":"e26f6479-339b-40da-b734-5f222bec529a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']","item/field_10":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_7":"Reservation Changed","item/field_9":"Reservation @{outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']}","item/field_13":"@outputs('WaitApproval(fromTCT)_Friday')?['body/completionDate']","item/field_15":"@items('Apply(Approval)ToEach_Post-Changed_5')?['comments']","item/field_14":"@items('Apply(Approval)ToEach_Post-Changed_5')?['responder/email']","item/field_26":"@{outputs('GetItem(App_ReservationLog)')?['body/Modified_ClinicLocationName']} (@{outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']})","item/reservationStatus_Choice/Value":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"4aee2587-33f3-4c5a-8016-e6c8a16f3971"},"type":"Foreach"},"Delay(15,_second)_Post-Changed_5":{"runAfter":{"Apply(Approval)ToEach_Post-Changed_5":["Succeeded"]},"metadata":{"operationMetadataId":"5b551953-b6da-49bb-aac7-0767155ce9bc"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"GetItem(App_ReservationLog)_Post-Changed_5":{"runAfter":{"Delay(15,_second)_Post-Changed_5":["Succeeded"]},"metadata":{"operationMetadataId":"01f02163-a359-44a7-b92f-a356c0ca3576"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update(TelehealthMasterSchedule_CombiTable)_Post-Changed_5":{"runAfter":{"GetItem(App_ReservationLog)_Post-Changed_5":["Succeeded"]},"metadata":{"operationMetadataId":"73168fc0-3e07-4407-a59d-25489569e4a2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/Title']","item/field_7":"@{outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_7']}: @{outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/Modified_DayOfWeek']}","item/field_8":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_8']","item/field_9":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_9']","item/field_10":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_10']","item/field_11":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/Author/Email']","item/field_12":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_12']","item/field_13":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_13']","item/field_14":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_14']","item/field_15":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_15']","item/field_16":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_16']","item/field_17":"@outputs('GetItem(App_ReservationLog)_Post-Changed_5')?['body/field_17']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"WaitApproval(fromTCT)_Friday":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('WaitApproval(fromTCT)_Friday')?['body/outcome']","CHANGED"]},"metadata":{"operationMetadataId":"bc3d460f-bda5-4102-a9c0-5c995a43e4d9"},"type":"If"}},"runAfter":{"Delay(1,_minute)_PreFridays":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Friday"]},{"equals":["@outputs('GetItem(App_ReservationLog)')?['body/Modified_DayOfWeek']","Fridays"]}]},"metadata":{"operationMetadataId":"3995119f-e5ce-4761-b19b-f966b550f92e"},"type":"If"}},"runAfter":{"GetUserDetails(TeleHealthTech)":["Succeeded"]},"else":{"actions":{}},"expression":{"contains":["@outputs('GetItem(App_ReservationLog)')?['body/field_7']","Reservation Submitted"]},"metadata":{"operationMetadataId":"1e6e04c3-b459-4990-8259-c7eb3e48f5c4"},"type":"If"},"GetUserDetails(Submitter)":{"runAfter":{"GetItem(List_MasterSchedule)":["Succeeded"]},"metadata":{"operationMetadataId":"d1af660e-99c9-45b0-90f8-ea5d0b28a936"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('GetItem(App_ReservationLog)')?['body/field_11']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"GetUserDetails(ClinicalStaff)":{"runAfter":{"GetUserDetails(Submitter)":["Succeeded"]},"metadata":{"operationMetadataId":"1fe2c671-2adc-4a4e-9ccf-38fff78452eb"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('GetItem(App_ReservationLog)')?['body/selectedClinicalStaff_email']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"GetUserDetails(TeleHealthTech)":{"runAfter":{"GetUserDetails(ClinicalStaff)":["Succeeded"]},"metadata":{"operationMetadataId":"d40ea685-6f56-4127-b323-c96f873cb5b4"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('GetItem(App_ReservationLog)')?['body/field_29']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"authentication":"@parameters('$authentication')"}},"GetItem(List_MasterSchedule)":{"runAfter":{"GetItem(App_ReservationLog)":["Succeeded"]},"metadata":{"operationMetadataId":"54938411-c059-442f-939e-96609b12d195"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@int(outputs('GetItem(App_ReservationLog)')?['body/Modified_Submitted_CombiTable_Ro'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Delay(1,_minute)_PreEmailNotices":{"runAfter":{"If(Modified_Type_=_\"Reservation_Submitted\")":["Succeeded"]},"metadata":{"operationMetadataId":"584fa06a-b338-4d59-984e-672bfa0e8581"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"GetItem(App_ReservationLog)_PreEmailNotices":{"runAfter":{"Delay(1,_minute)_PreEmailNotices":["Succeeded"]},"metadata":{"operationMetadataId":"4e072428-cbe2-40cd-8b92-99f7a19ca0a1"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"82836f65-caa8-4c03-bc26-7a38e444c6bd","id":"@outputs('GetItem(App_ReservationLog)')?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"GetItem(TelehealthMasterSched_CombiTable)_PreEmailNotices":{"runAfter":{"GetItem(App_ReservationLog)_PreEmailNotices":["Succeeded"]},"metadata":{"operationMetadataId":"19323959-6012-48a1-a620-e9d0ecd4ce9f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dvagov.sharepoint.com/sites/578TelehealthResourceApp","table":"ad789c18-d515-44a3-826e-e64337c1b84e","id":"@outputs('GetItem(List_MasterSchedule)')?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"If(Modified_Type_=_\"Reservation_Approved\",_SendEmails_Approved)":{"actions":{"Send(emailedProviderInstructions)_Approved":{"metadata":{"operationMetadataId":"b54b0173-1b51-40bb-b066-2c205cd4084e"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","emailMessage/Subject":"[APPROVED] Provider Instructions RE: CVT Request #@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']}","emailMessage/Body":"<p class=\"editor-paragraph\">[testing - CLINICAL PROVIDER INSTRUCTION <b><strong class=\"editor-text-bold\">APPROVAL</strong></b> TEMPLATE]<br><br>A request to reserve<b><strong class=\"editor-text-bold\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1']}<b><strong class=\"editor-text-bold\"> CBOC</strong></b><b><strong class=\"editor-text-bold\">'s</strong></b> Telehealth CVT Room <b><strong class=\"editor-text-bold\">#</strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_2']} was submitted on your behalf. Please review the reservation details below:</p><ul class=\"editor-list-ul\"><li class=\"editor-listitem\">@{If(\r\n  empty(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_17']),\r\n  Concat(\r\n    'On ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_DayOfWeek'],\r\n    ' from ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_27'],\r\n    ' your clinic (named ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_ClinicLocationName'],\r\n    ') has the entire ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1'],\r\n    ' CBOC Room #',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_2'],\r\n    ' successfully reserved to allow you to provide remote Telehealth care to an upcoming Veteran.'\r\n  ),\r\n  Concat(\r\n    'On ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_DayOfWeek'],\r\n    ', ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_16'],\r\n    'from ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_27'],\r\n    ' your clinic (named ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_ClinicLocationName'],\r\n    ') has the entire ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1'],\r\n    ' CBOC Room #',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_2'],\r\n    ' successfully reserved to allow you to provide remote Telehealth care to an upcoming Veteran.'\r\n)\r\n)}</li><li class=\"editor-listitem\">This reservation request (which was originally submitted by @{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_11']})<b><strong class=\"editor-text-bold\"> </strong></b>has been <b><strong class=\"editor-text-bold\">APPROVED</strong></b> by<b><strong class=\"editor-text-bold\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_14']} on<b><strong class=\"editor-text-bold\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_13']}.</li><li class=\"editor-listitem\">You should continue with any necessary actions or coordinations with the scheduling team to ensure that the Veteran you are treating virtually on this day &amp; time has a correctly configured appointment registered in VistA/CPRS (such as entering RTC orders, consults, or DST).</li><li class=\"editor-listitem\">On the date &amp; time of your Veteran's scheduled appointment, you should:</li></ul><ol class=\"editor-list-ol\"><li class=\"editor-listitem\">Click <a href=\"https://care.va.gov/webapp2/home\" class=\"editor-link\"><u><i><b><strong class=\"editor-text-bold editor-text-italic editor-text-underline\">https://care.va.gov/webapp2/home</strong></b></i></u></a> to open the CVT portal,</li><li class=\"editor-listitem\">@{concat(\r\n  'Initiate a video call to ',\r\n  '<a href=\"https://care.va.gov/webapp2/home\">',\r\n    string(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_4']),\r\n    '@evn.va.gov',\r\n  '</a>,'\r\n)}</li><li class=\"editor-listitem\">Conduct your telehealth video visit with the Veteran as normal, documenting appropriately in CPRS</li></ol><p class=\"editor-paragraph\">If you have any connection or troubleshooting issues, you can call the @{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1']} CBOC's telehealth room directly at extension #@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_5']} . Alternatively, you can reach the assigned Telehealth Tech (@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_29']}) by phone at extension #@{outputs('GetItem(TelehealthMasterSched_CombiTable)_PreEmailNotices')?['body/field_30']} or cell phone (@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_31']}).<br><br>Additional instructions or support are availalble on the Hines Telehealth Team's SharePoint site: <a href=\"https://dvagov.sharepoint.com/sites/vhahin/htc/\" class=\"editor-link\"><u><i><b><strong class=\"editor-text-bold editor-text-italic editor-text-underline\">https://dvagov.sharepoint.com/sites/vhahin/htc/</strong></b></i></u></a><br><br><br>Thank you,<br><br><a href=\"mailto://HINESTCTS@va.gov\" class=\"editor-link\">Hines VA Telehealth Team</a>!</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Send(emailedTCTInstructions)_Approved":{"metadata":{"operationMetadataId":"e0c1226a-80fa-4d38-a9be-e377422ad588"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","emailMessage/Subject":"[APPROVED] TCT Instructions RE: CVT Request #@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']}","emailMessage/Body":"<p class=\"editor-paragraph\">[testing - TELEHEALTH TECH INSTRUCTION <b><strong class=\"editor-text-bold\">APPROVAL</strong></b> TEMPLATE]<br></p><br><p class=\"editor-paragraph\">A provider's (@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/selectedClinicalStaff_email']}) reservation request #@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']} (which was originally submitted by @{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_11']}) has been <b><strong class=\"editor-text-bold\">APPROVED</strong></b> by @{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_14']} on @{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_13']}. As the designated primary TCT assigned to the @{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1']} CBOC, it is important that you review the approved reservation details to make sure that any other arrangments are appropriately initiated and completed, such as (but not limited to):</p><ul class=\"editor-list-ul\"><li class=\"editor-listitem\">VistA clinics profiles or grids need to be <a href=\"https://leaf.va.gov/VISN12/578/clinic_mods/\" class=\"editor-link\">modified</a>, <a href=\"https://leaf.va.gov/VISN12/578/clinicbuild/\" class=\"editor-link\">created</a>, or <a href=\"https://leaf.va.gov/VISN12/578/hin_clinic_cancellations/\" class=\"editor-link\">canceled</a></li><li class=\"editor-listitem\">Veteran appointment is correctly scheduled on both PAT/PRO side</li><li class=\"editor-listitem\">No equipment issues that require any workorders or tickets are needed to <a href=\"https://dvagov.sharepoint.com/sites/vhahines/SitePages/Engineering-Service-Work-Order-Requests.aspx\" class=\"editor-link\">Engineering</a>, <a href=\"https://yourit.va.gov/va?id=va_home\" class=\"editor-link\">OIT</a>, BioMed, or <a href=\"https://dvagov.sharepoint.com/sites/vhahines/SitePages/Submit-your-Work-Order.aspx\" class=\"editor-link\">other department</a></li><li class=\"editor-listitem\">Contact to the clinical staff members (@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/selectedClinicalStaff_email']}) to provide specific day-of connection information/links [or TEST:@{concat(\r\n  'Contact to the clinical staff members (',\r\n  '<a href=\"msteams://teams.microsoft.com/l/chat/0/0?users=',\r\n    trim(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/selectedClinicalStaff_email']),\r\n    ',',\r\n    trim(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_11']),\r\n    '&topicName=RE:%20Your%20reservation%20request%20%23',\r\n    string(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']),\r\n  '\">',\r\n    trim(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/selectedClinicalStaff_email']),\r\n  '</a>',\r\n  ') to provide specific day-of connection information/links'\r\n)} ]</li><li class=\"editor-listitem\">Contact the scheduled Veteran to provide specific day-of patient instructions</li></ul><p class=\"editor-paragraph\">If there is some conflict or other problem that may prevent the Veteran's appointment from being successfully completed on the upcoming date &amp; time, then it is <u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27);\">CRITICAL</strong></b></u> that you take the necessary actions to escalate any barriers to the appropriate group or leadership before any issues negatively impact this Veteran's healthcare. Additional instructions or support are availalble on the Hines Telehealth Team's SharePoint site: <a href=\"https://dvagov.sharepoint.com/sites/vhahin/htc/\" class=\"editor-link\"><u><i><b><strong class=\"editor-text-bold editor-text-italic editor-text-underline\">https://dvagov.sharepoint.com/sites/vhahin/htc/</strong></b></i></u></a><br><br><br>Thank you,<br><br><a href=\"mailto://HINESTCTS@va.gov\" class=\"editor-link\">Hines VA Telehealth Team</a>!</p>","emailMessage/ReplyTo":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/selectedClinicalStaff_email']","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"GetItem(TelehealthMasterSched_CombiTable)_PreEmailNotices":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"contains":["@outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_7']","Reservation Approved"]}]},"metadata":{"operationMetadataId":"64c4e280-2480-479f-9c34-ce7fced49772"},"type":"If"},"If(Modified_Type_=_\"Reservation_Approved\",_SendEmails_Denied)":{"actions":{"Send(emailedProviderInstructions)_Denied":{"metadata":{"operationMetadataId":"8d3c2d17-33f3-4a9e-ad59-ff9625a8e6fb"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","emailMessage/Subject":"[DENIED] Provider Instructions RE: CVT Request #@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']}","emailMessage/Body":"<p class=\"editor-paragraph\">[testing - CLINICAL PROVIDER INSTRUCTION <u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27);\">DENIAL</strong></b></u><b><strong class=\"editor-text-bold\"> </strong></b>TEMPLATE]<br><br>A request to reserve<b><strong class=\"editor-text-bold\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1']}<b><strong class=\"editor-text-bold\"> CBOC</strong></b>'s Telehealth CVT Room #@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_2']} was submitted on your behalf. @{If(\n  empty(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_17']),\n  Concat(\n    'The request to reserve a Telehealth room on ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_DayOfWeek'],\n    ' from ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_27'],\n    ' for your clinic (named ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_ClinicLocationName'],\n    ') in the ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1'],\n    ' CBOC Room #',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_2'],\n    ' was reviewed. Unfortunately, an the request was not able to be approved at this time.'\n  ),\n  Concat(\n    'The request to reserve a Telehealth room on ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_DayOfWeek'],\n    ' from ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_27'],\n    ' for your clinic (named ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_ClinicLocationName'],\n    ') in the ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1'],\n    ' CBOC Room #',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_2'],\n    ' was reviewed. Unfortunately, an the request was not able to be approved at this time.'\n  )\n)} Please review the reservation details below:</p><ul class=\"editor-list-ul\"><li class=\"editor-listitem\"><span style=\"font-size: 18px;\">This reservation request (which was originally submitted by</span><b><strong class=\"editor-text-bold\" style=\"font-size: 18px;\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_11']}<span style=\"font-size: 18px;\">)</span><b><strong class=\"editor-text-bold\" style=\"font-size: 18px;\"> </strong></b><span style=\"font-size: 18px;\">has been </span><u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27); font-size: 18px;\">D</strong></b></u><u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27); font-size: 18px;\">ENIED</strong></b></u><span style=\"font-size: 18px;\"> by</span><b><strong class=\"editor-text-bold\" style=\"font-size: 18px;\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_14']}<b><strong class=\"editor-text-bold\" style=\"font-size: 18px;\"> </strong></b><span style=\"font-size: 18px;\">on</span><b><strong class=\"editor-text-bold\" style=\"font-size: 18px;\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_13']}<span style=\"font-size: 18px;\">.</span></li><li class=\"editor-listitem\"><span style=\"font-size: 18px;\">The following comments were provided about this </span><u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27); font-size: 18px;\">DENIAL</strong></b></u><span style=\"font-size: 18px;\"> action: </span>@{if(\r\n  empty(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_15']),\r\n  Concat(\r\n    '   ',\r\n    'NONE / No comments were provided...'\r\n  ),\r\n  Concat(\r\n    '   ',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_15']\r\n  )\r\n)}<br></li></ul><p class=\"editor-paragraph\">As the clinical provider, you should continue with any necessary actions or coordinations with the scheduling team or the Telehealth team to ensure that the Veteran you intended to treat virtually on this day &amp; time have alternative arrangements or clinical instructions facilitated without the use of the requested Telehealth CVT room as originally requested.<br><br>You may use the '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/9aff90ae-fb68-4e6b-be54-d61f76f7266c\" class=\"editor-link\">578 Telehealth Resource App</a>' to begin a new reservation request at any time. Additional instructions or support are availalble on the Hines Telehealth Team's SharePoint site: <a href=\"https://dvagov.sharepoint.com/sites/vhahin/htc/\" class=\"editor-link\"><u><i><b><strong class=\"editor-text-bold editor-text-italic editor-text-underline\">https://dvagov.sharepoint.com/sites/vhahin/htc/</strong></b></i></u></a><br><br><br>Thank you,<br><br><a href=\"mailto://HINESTCTS@va.gov\" class=\"editor-link\">Hines VA Telehealth Team</a>!</p>","emailMessage/ReplyTo":"@outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_14']","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Send(emailedTCTInstructions)_Denied":{"metadata":{"operationMetadataId":"1ace478c-2b26-42eb-892b-edf4c29242d9"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"Kyle.Coder@va.gov;Tina.Bird@va.gov;Regina.Clark@va.gov;Antwan.Ortiz@va.gov;Candice.Spates@va.gov;Myra.Sy@va.gov;Ailene.Taylor@va.gov;Robert.Thou@va.gov;Myra.Valera@va.gov;Marcus.Waddell@va.gov;Katrice.Washington@va.gov;Jessica.Wilson@va.gov;Barbara.Wishart@va.gov","emailMessage/Subject":"[DENIED] TCT Instructions RE: CVT Request #@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']}","emailMessage/Body":"<p class=\"editor-paragraph\">[testing - TELEHEALTH TECH INSTRUCTION <u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27);\">DENIAL</strong></b></u> TEMPLATE]<br></p><br><p class=\"editor-paragraph\">A provider's (@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/selectedClinicalStaff_email']}) reservation request <b><strong class=\"editor-text-bold\">#</strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']}<b><strong class=\"editor-text-bold\"> </strong></b>(which was originally submitted by<b><strong class=\"editor-text-bold\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_11']}) has been <u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27); font-size: 18px;\">D</strong></b></u><u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27); font-size: 18px;\">ENIED</strong></b></u><span style=\"font-size: 18px;\"> </span>by<b><strong class=\"editor-text-bold\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_14']}<b><strong class=\"editor-text-bold\"> </strong></b>on<b><strong class=\"editor-text-bold\"> </strong></b>@{outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_13']}. As the designated primary TCT assigned to this CBOC, it is important that you are aware of these <u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"color: rgb(208, 2, 27); font-size: 18px;\">DENIED</strong></b></u> reservation details:</p><ul class=\"editor-list-ul\"><li class=\"editor-listitem\">@{Concat(\r\n    'The request to reserve CVT room <b>#',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_2'],\r\n    '</b> on <b>',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_DayOfWeek'],\r\n    '</b> from <b>',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_27'],\r\n    '</b> in the <b>',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_1'],\r\n    '</b> for a clinic named \"<b>',\r\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/Modified_ClinicLocationName'],\r\n    '</b>\" was DENIED!'\r\n  )}</li><li class=\"editor-listitem\">The following comments were provided about this <u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"font-size: 18px; color: rgb(208, 2, 27);\">DENIAL</strong></b></u> action: @{if(\n  empty(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_15']),\n  Concat(\n    '   ',\n    'NONE / No comments were provided...'\n  ),\n  Concat(\n    '   ',\n    outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_15']\n  )\n)}<br></li></ul><br><p class=\"editor-paragraph\">@{concat(\r\n  'If there is any assistance you can provide to the clinical team to find alternative arrangements to avoid interuptions to Veteran care, please contact to the clinical staff members (',\r\n  '<a href=\"msteams://teams.microsoft.com/l/chat/0/0?users=',\r\n    trim(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/selectedClinicalStaff_email']),\r\n    ',',\r\n    trim(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_11']),\r\n    '&topicName=RE:%20Your%20reservation%20request%20%23',\r\n    string(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/ID']),\r\n  '\">',\r\n    trim(outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/selectedClinicalStaff_email']),\r\n  '</a>',\r\n  ') to provide specific day-of connection information/links'\r\n)}. Additional instructions or support are availalble on the Hines Telehealth Team's SharePoint site: <a href=\"https://dvagov.sharepoint.com/sites/vhahin/htc/\" class=\"editor-link\"><u><i><b><strong class=\"editor-text-bold editor-text-italic editor-text-underline\">https://dvagov.sharepoint.com/sites/vhahin/htc/</strong></b></i></u></a><br><br><br>Thank you,<br><br><a href=\"mailto://HINESTCTS@va.gov\" class=\"editor-link\">Hines VA Telehealth Team</a>!</p>","emailMessage/ReplyTo":"@outputs('GetItem(App_ReservationLog)_Post-Approval')?['body/selectedClinicalStaff_email']","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"GetItem(TelehealthMasterSched_CombiTable)_PreEmailNotices":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"contains":["@outputs('GetItem(App_ReservationLog)_PreEmailNotices')?['body/field_7']","Reservation Denied"]}]},"metadata":{"operationMetadataId":"4cf86b08-a22d-43b1-a2e0-393dc40fc58c"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"f3f51e7fd76043898aa98c3410ec147d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_approvals":{"connectionName":"shared-approvals-9d9f43a2-7e90-43b1-8e52-e749d602e126","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"shared-teams-77521a01-aa18-4bbd-afd9-b26c59641fe1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365users":{"connectionName":"241edaefcdae4a26a1d41bb0ff1712cc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"b5ded37f60204c5e9bdc2373272335c6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}